<%= form_with(model: spending, local: true) do |form| %>
  <% if spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :spending_value %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.number_field :section, id: :spending_section %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
