<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @spending.value %>
</p>

<p>
  <strong>Section:</strong>
  <%= @spending.section %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
