<p id="notice"><%= notice %></p>

<h1><%= t("activerecord.models.user1") %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.id") %></th>
      <th><%= t("activerecord.attributes.user.name") %></th>
      <th><%= t("activerecord.attributes.user.email") %></th>
      <th><%= t("activerecord.attributes.user.funcao") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role_i18n %></td>
          <td><%= link_to t('app.show'), user, class: "btn btn-primary" %></td>
          <td><%= link_to t('app.edit'), edit_user_path(user), class: "btn btn-primary" %></td>
          <td><%= link_to t('app.destroy'), user, class: "btn btn-danger",method: :delete, data: { confirm: t('app.messages.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<td><%= link_to ("Criar certificados"), agreements_path, class: "btn btn-primary" %></td>
<td><%= link_to ("Criar texto para certificados"), texts_path, class: "btn btn-primary" %></td>
<div>
  <%=  %>
</div>
