<%= form_with(model: agreement, local: true) do |form| %>
  <% if agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% agreement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, id: :agreement_client_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :agreement_email, class: "form-control" %>
  </div>
email
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :agreement_description, class: "form-control" %>
  </div>


<div class="dropup">
    <%= form.label :text %>
    <select name="agreement[text_id]" id="agreement_text_id">
       <option value="">Selecione ... </option>
       <% if @texts != nil %>
       <% for t in @texts %>
           <option value="<%=t.id%>" <%=@agreement.text_id == t.id ? "selected" : "" %>><%=t.shortdescription%></option>
           <% end %>
       <% end %>
     </select>
</div>


  <div class="actions">
    <%= form.submit class: "btn-success" %>
  </div>
<% end %>
