<h1><%= t("app.certificado")%></h1>
<div class="panel panel-default">
        <div class="panel-heading">

<br>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= t("activerecord.attributes.agreement.nome_certificado")%></th>
      <th>Metas</th>
      <th><%= t("activerecord.attributes.agreement.email")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.client_name %></td>
        <td><%= agreement.description %></td>
        <td><%= agreement.email %></td>
        <td><%= link_to t("app.show"), agreement, class: "btn btn-primary" %></td>
        <td><%= link_to t("app.edit"), edit_agreement_path(agreement), class: "btn btn-info" %></td>
        <td><%= link_to t("app.destroy"), agreement, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
        <td><%= link_to t("app.export"), export_agreement_path(agreement), target: "_blank", class: "btn btn-success" %></td>
        <td><%= link_to t("app.send"), send_email_agreement_path(agreement), target: "_blank", class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col-md-12">

    </div>
  </div>
</div>
<%= link_to t("app.new"), new_agreement_path, class: "btn btn-success" %>
