
<div class="row">
  <div class="col-md-12">
    <h2><%= @agreement.client_name %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <%= link_to t("app.edit"), edit_agreement_path(@agreement), class: "btn btn-danger" %> |
      <%= link_to 'Voltar', agreements_path, class: "btn btn-success" %>
    </div>
  </div>

<hr>

<dl class="dl-horizontal">
  <dt>
  <strong><%= t("activerecord.attributes.agreement.client_name") %></strong>
</dt>
  <dd> <%= @agreement.client_name %></dd>
</dl>


<dl class="dl-horizontal">
  <dt>
  <strong><%= t("activerecord.attributes.agreement.email") %></strong>
</dt>
  <dd> <%= @agreement.email %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>
  <strong><%= t("activerecord.attributes.agreement.description2") %></strong>
</dt>
  <dd> <%= @agreement.description %> </dd>
</dl>

<dl class="dl-horizontal">
<% if @agreement.text != nil %>
  <dt>
  <strong><%= t("activerecord.models.text1") %></strong>
</dt>
  <dd><%= @agreement.text.description %></dd>
</dl>
</hr>
<% end %>
