<%= form_with(model: text, local: true) do |form| %>
  <% if text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shortdescription %>
    <%= form.text_field :shortdescription, id: :text_shortdescription %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :text_description, cols:80, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
