

<h1><th><%= t("activerecord.models.texts") %></th></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.agreement.shortdescription") %></th>
      <th><%= t("activerecord.attributes.agreement.description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.shortdescription %></td>
        <td><%= text.description %></td>
        <td><%= link_to fa_icon("eye", title: "Visualizar"), text, class: "btn btn-primary" %></td>
        <td><%= link_to fa_icon("pencil-square-o", title: "Editar"), edit_text_path(text), class: "btn btn-warning" %></td>
        <td><%= link_to fa_icon("trash-o", title: "Excluir"), text, method: :delete, data: { confirm: t("app.messages.are_you_sure") }, class: "btn btn-danger" %></td>
        <td><%= link_to fa_icon("certificate", title: "Certificar"), new_agreement_path, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-12">
<%= link_to fa_icon("file-text-o", text: "Novo Texto"), new_text_path, class: "btn btn-success" %>
</div>
