<p id="notice"><%= notice %></p>

<p>
  <strong>Shortdescription:</strong>
  <%= @text.shortdescription %>
</p>

<p>
  <strong>Description:</strong>
  <%= @text.description %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
