<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("activerecord.attributes.agreement.shortdescription") %>:</strong>
  <%= @text.shortdescription %>
</p>

<p>
  <strong><%= t("activerecord.models.text1") %>:</strong>
  <%= @text.description %>
</p>

<%= link_to t("app.messages.edit"), edit_text_path(@text) %> |
<%= link_to t("app.messages.back"), texts_path %>
