<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t("app.appname") %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to t("activerecord.models.agreement"), agreements_path %></li>
          <li><%= link_to t("activerecord.models.texts"), texts_path %></li>

          </ul>
        <ul class="nav navbar-nav navbar-right">
             <li><a href=""><%= current_user.email %></a></li>
             <li><%= link_to t("app.logout"), destroy_user_session_path, method: :delete %></li>
          <li class="dropdown">

            <ul class="dropdown-menu">
              <li><%= link_to t("app.logout"), destroy_user_session_path, method: :delete %></li>
              <li><a href=""><%= current_user.email %></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
