<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app.appname")%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render partial: "layouts/menu"%>
    <div class="container">
    <%= yield %>
    </div>
    <% if notice %>
      <script>
            $.notify("<%= notice %>", "success")
      </script>
      <% end %>

      <% if alert %>
        <script>
              $.notify("<%= alert %>", "error")
        </script>
        <% end %>
  </body>
</html>
